body{
    background-color: rgb(34, 33, 33);

}
.content{
    background-color:rgb(14, 1, 1);
    position: relative;
    width: 500px;
    margin: 50px;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    border-radius: 10px; 
    border: solid 3px aqua;
    height: 450px;
    border-width: 5px;
    box-shadow: 50px;

    
}
.content2{
 justify-content: center;
 padding-top: 50px;
}
button{
   height: 50px;
   width: 100px;
    justify-content: space-between;
}
button:hover{
    background: color(srgb red green blue);
    zoom: 1.4;
    color: aquamarine;
}
input{
    height: 40px;
    width: 250px;
    background-color: antiquewhite;
    border-radius: 10px;
    border: solid 2px greenyellow;
}